
<!DOCTYPE html>
<html>
    <head>
         <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}?v=2" />
    </head>
	  <meta charset="UTF-8">
  
  <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('css/docs.css') }}" rel="stylesheet" media="screen">
    
     <link href="{{ asset('css/pygments-manni.css') }}" rel="stylesheet" media="screen">
    <title>MIPPCOEXIN</title>
  </head>
  
  
    <body>
             <header class="navbar  navbar-fixed-top bs-docs-nav" role="banner">
             <div class="container-narrow">
               <div class="navbar-header">

                 <img src={{ asset("/img/logo.png") }} style="width:100%;" >
               </div>

             </div>
           </header>
           <div class="container-fuid bs-docs-container">
    
              <div class="row">
                <div class="col-md-2">
                    
                  <nav class="bs-docs-sidebar">
                      <br>
                    <ul id="sidebar" class="nav bs-sidenav nav-stacked fixed">
                        <li><strong>Código: </strong><input id="registro_codigoregistro" name="registro_codigoregistro" readonly type="text" value="" 
                                    style="border: none;text-align: right; font-weight: bold">    </li>
                        <li>-------</li>
                        <li class="active">
                        
                        {{ knp_menu_render('CoexinBundle:Builder:mainMenu') }}
                       </li>   
                    </ul>
                        
                  </nav>
                </div>
                <div class="col-md-10" role="main">
                    <!-- Dropdowns
          ================================================== -->
              <input id="registro_idempresa" name="registro_idempresa" type="hidden" value="" >      
              <input id="registro_idpersona" name="registro_idpersona" type="hidden" value="" >
              <input id="registro_idregistro" name="registro_idregistro" type="hidden" value="" >
              <input id="registro_idproducto" name="registro_idproducto" type="hidden" value="" >
              <input id="registro_nombreproducto" name="registro_nombreproducto" type="hidden" value="" >
              <input id="registro_unidadmedida" name="registro_unidadmedida" type="hidden" value="" >
              

            <div class="bs-docs-section">
             
                     
        {% block body %}
        
        {% endblock %}
        
         </div>
        
        
        {% javascripts  %}
         
         
        {% endjavascripts %} 

        
         <script src={{asset('js/jquery.js')}} type="text/javascript"></script>
         <script src={{asset('js/bootstrap.js')}} type="text/javascript"></script>
        <script src={{asset('js/validator.js')}} type="text/javascript"></script>
        {% block javascripts  %}
 <script>
     
     
 $(document).ready(function(){
    $("button#dos").on('click',function(e){
                        
                        e.preventDefault();
                         $.post( "{{path('nueva_empresa')}}", $("form").serialize() )
                            .done(function( data ) {
                                   
                                 $('input[name="registro_idempresa"]:hidden').val(data.idempresa);
                                 $('input[name="registro_idregistro"]:hidden').val(data.idregistro);
                                 $('input[name="registro_codigoregistro"]').val(data.codregistro);
                                  
                                  $("div.bs-docs-section").empty();
                                  $("div.bs-docs-section").load("{{ path("dos") }}");
                             })
                             .fail(function() {
                                  alert( "Error, verifique los datos" );
                             });
                             
                        
			
			
			
			
		 });
                 
  });   
  
</script>
{% endblock %}
                
    </body>
</html>
