{% extends 'base.html.twig' %}

{% block body %}
    <h1>DocumentoProducto list</h1>

    <table>
        <thead>
            <tr>
                <th>Descripcion</th>
                <th>Ruta</th>
                <th>Fecha</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for documentoProducto in documentoProductos %}
            <tr>
                <td><a href="{{ path('documentoproducto_show', { 'id': documentoProducto.id }) }}">{{ documentoProducto.descripcion }}</a></td>
                <td>{{ documentoProducto.ruta }}</td>
                <td>{% if documentoProducto.fecha %}{{ documentoProducto.fecha|date('Y-m-d') }}{% endif %}</td>
                <td>{{ documentoProducto.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('documentoproducto_show', { 'id': documentoProducto.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('documentoproducto_edit', { 'id': documentoProducto.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('documentoproducto_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
