{% extends 'base.html.twig' %}

{% block body %}
    <h1>ProductoMaterial list</h1>

    <table class="table table-striped table-bordered table-hover dt-responsive" width="70%" id="sample_2">
        <thead>
            <tr>
                
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for productoMaterial in productoMaterials %}
            <tr>
                <td><a href="{{ path('productomaterial_show', { 'id': productoMaterial.id }) }}">{{ productoMaterial.id }}</a></td>
                <td>
                     
                         
                            <a href="{{ path('productomaterial_show', { 'id': productoMaterial.id }) }}">show</a>
                         
                         
                            <a href="{{ path('productomaterial_edit', { 'id': productoMaterial.id }) }}" class="btn btn-info" role="button">Editar</a>
                         
                     
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

     
         
            <a href="{{ path('productomaterial_new') }}">Create a new entry</a>
         
     
{% endblock %}
