{% extends 'base.html.twig' %}

{% block body %}
    <h1>CodigoArancelario</h1>

    <table>
        <tbody>
            <tr>
                <th>Descripcion</th>
                <td>{{ codigoArancelario.descripcion }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{% if codigoArancelario.fecha %}{{ codigoArancelario.fecha|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ codigoArancelario.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('codigoarancelario_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('codigoarancelario_edit', { 'id': codigoArancelario.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
