{% extends 'base.html.twig' %}

{% block body %}
    <h1>CodigoArancelario</h1>

    

     
         
        <table class="table table-striped table-bordered table-hover dt-responsive" width="70%" id="sample_2">
<tbody>
     
         
            <tr>
                <th>Descripcion</th>
                <td>{{ codigoArancelario.descripcion }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{% if codigoArancelario.fecha %}{{ codigoArancelario.fecha|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                
              
            </tr>
        </tbody>
   </table>

     
         {{ form_start(delete_form) }}

     
         
            <a href="{{ path('codigoarancelario_index') }}" class="btn btn-warning" role="button">Cancelar</a>
         
         
            <a href="{{ path('codigoarancelario_edit', { 'id': codigoArancelario.id }) }}" class="btn btn-info" role="button">Editar</a>
         
         
            
                <button type="submit" class="btn btn-danger">Eliminar</button>
            {{ form_end(delete_form) }}
         
     
{% endblock %}
