{% extends 'base.html.twig' %}

{% block body %}
    <h1>ProductoEmpresa - Editar registro</h1>

    {{ form_start(edit_form) }}

    
        <button type="button" class="btn btn-primary"  id="clear">Limpiar</button>
       <button type="submit" class="btn btn-success ">Editar</button>
   

     
         
           
        
        <a href="{{ path('productoempresa_index') }}" class="btn btn-warning" role="button">Cancelar</a>
    {{ form_end(edit_form) }}
    
         
         
            {{ form_start(delete_form) }}
                <button type="submit" class="btn btn-danger">Eliminar</button>
            {{ form_end(delete_form) }}
         
     
{% endblock %}
