{% extends 'base.html.twig' %}

{% block body %}
    <h1>Costo</h1>

    

     
         
        <table class="table table-striped table-bordered table-hover dt-responsive" width="70%" id="sample_2">
<tbody>
     
         
            <tr>
                <th>Materialimportado</th>
                <td>{{ costo.materialImportado }}</td>
            </tr>
            <tr>
                <th>Materialnacional</th>
                <td>{{ costo.materialNacional }}</td>
            </tr>
            <tr>
                <th>Manoobra</th>
                <td>{{ costo.manoObra }}</td>
            </tr>
            <tr>
                <th>Depreciacion</th>
                <td>{{ costo.depreciacion }}</td>
            </tr>
            <tr>
                <th>Otrocostodirecto</th>
                <td>{{ costo.otroCostoDirecto }}</td>
            </tr>
            <tr>
                <th>Gastoadmim</th>
                <td>{{ costo.gastoAdmim }}</td>
            </tr>
            <tr>
                <th>Gastopublicidad</th>
                <td>{{ costo.gastoPublicidad }}</td>
            </tr>
            <tr>
                <th>Gastoventa</th>
                <td>{{ costo.gastoVenta }}</td>
            </tr>
            <tr>
                <th>Otrogastoindirecto</th>
                <td>{{ costo.otroGastoIndirecto }}</td>
            </tr>
            <tr>
                <th>Utilidad</th>
                <td>{{ costo.utilidad }}</td>
            </tr>
            <tr>
                <th>Preciopuertafabrica</th>
                <td>{{ costo.precioPuertaFabrica }}</td>
            </tr>
            <tr>
                <th>Fleteinterno</th>
                <td>{{ costo.fleteInterno }}</td>
            </tr>
            <tr>
                <th>Preciofobexportacion</th>
                <td>{{ costo.precioFobExportacion }}</td>
            </tr>
            <tr>
                <th>Preciofcaexportacion</th>
                <td>{{ costo.precioFcaExportacion }}</td>
            </tr>
            <tr>
                
              
            </tr>
        </tbody>
   </table>

     
         {{ form_start(delete_form) }}

     
         
            <a href="{{ path('costo_index') }}" class="btn btn-warning" role="button">Cancelar</a>
         
         
            <a href="{{ path('costo_edit', { 'id': costo.id }) }}" class="btn btn-info" role="button">Editar</a>
         
         
            
                <button type="submit" class="btn btn-danger">Eliminar</button>
            {{ form_end(delete_form) }}
         
     
{% endblock %}
