<div class="page-header">
      <h1 id="validator">Declaración Jurada de Origen <small>Perfil del Producto</small></h1>
    </div>

    <h2 id="validator-examples">Estructura de Costos del Producto a Exportar</h2>
    <p>P-3</p>
    
    <div class="well">
      <form id="formulario" name="formulario" data-toggle="validator" role="form">
	<div class="row">

            <input type="hidden" name="costo[idProducto]" id="costo_idProducto">
        <div class="form-group col-md-4">
          <label class="control-label" for="remoteValidator">Denominación Comercial del Producto a Exportar</label>
          <input type="text" style="border:none; background-color:#F5F5F5"  name="producto_nombre" id="producto_nombre" class="form-control" data-remote="/validate">
          
        </div>
        <div class="form-group col-md-4">
          <label class="control-label" for="remoteValidator">Unidad de Medida</label>
          <input type="number" style="border:none; background-color:#F5F5F5"  name="producto_unidadmedida" id="producto_unidadmedida" class="form-control" data-remote="/validate">
     
        </div>
		<div class="form-group col-md-4">
          <label class="control-label" for="remoteValidator">Tipo de Moneda</label>
          <input type="text" style="border:none; background-color:#F5F5F5"  readonly name="producto_moneda" value="Bs." id="remoteValidator" class="form-control" data-remote="/validate">
         
        </div>			
	</div>



 <div class="row">
	 	<div class="col-md-3">
		</div>
			<div class="col-md-5">
		<div class="table-responsive">
		<table id="directos" class="table table-hover">
			   <thead>
				<tr>
				<th>Costos Directos</th>
				<th>Total costos</th>
				</tr>
				<tbody>
				<tr>
				<td>Materiales Importados</td>
				<td id="materiales_importados"><input type="text" readonly></td>
				</tr>
				<tr>
				<td>Materiales Nacionales</td>
				<td id="materiales_nacionales"><input type="text" readonly></td>
				</tr>
				<tr>
				<td>Mano de obra</td>
				 <td id="mano_obra"> {{ form_row(form.manoObra,{ 'attr': {'class': 'number_format'}})  }}     </td>
				</tr>
				<tr>
				<td>Depreciación</td>
                                <td id="depreciación"> {{ form_row(form.depreciacion,{ 'attr': {'class': 'number_format'}})  }}     </td>
				</tr>	
				<tr>
				<td>Otros Costos Directos</td>
				<td id="otros_directos">{{ form_row(form.otroCostoDirecto,{ 'attr': {'class': 'number_format'}})  }} </td>
				</tr>	
				<tr>
				<td>Total</td>
				<td id="total_directos"> <input type="text" name="costo_total_directos" readonly></td>
				</tr>
					
				</tbody>
				
		</thead>
    <tbody>
		</table>
	</div>
	</div>	
	
	
</div>


<div class="row">
	 	<div class="col-md-3">
		</div>
			<div class="col-md-5">
		<div class="table-responsive">
		<table id="indirectos" class="table table-hover">
			   <thead>
				<tr>
				<th>Costos Indirectos</th>
				<th>Total costos</th>
				</tr>
				<tbody>
				<tr>
				<td>Gastos Administrativos</td>
				<td id="gastos_admin">{{ form_row(form.otroCostoDirecto,{ 'attr': {'class': 'number_format'}})  }} </td>
				</tr>
				<tr>
				<td>Gastos de Publicidad</td>
				<td id="gastos_publicidad">{{ form_row(form.gastoPublicidad,{ 'attr': {'class': 'number_format'}})  }} </td>
				</tr>	
				<tr>
				<td>Gastos de Ventas</td>
				<td id="gastos_ventas">{{ form_row(form.gastoVenta,{ 'attr': {'class': 'number_format'}})  }} </td>
				</tr>	
				<tr><tr>
				<td>Otros Gastos Indirectos</td>
				<td id="otros_indirectos">{{ form_row(form.otroGastoIndirecto,{ 'attr': {'class': 'number_format'}})  }} </td>
				</tr>	
				<tr>
				<td>Total</td>
				<td id="total_indirectos"> <input type="text" readonly></td>
				</tr>
					
				</tbody>
				
		</thead>
    <tbody>
		</table>
	</div>
	</div>	
	
	
</div>



<div class="row">
	 	<div class="col-md-3">
		</div>
		<div class="col-md-5">
		<div class="table-responsive">
		<table id="utilidad" class="table table-hover">
                                <thead>
				<tr>
				<th></th>
				<th></th>
				<tbody>
				<tr>
				<td>Utilidad</td>
				<td id="utilidad">{{ form_row(form.otroGastoIndirecto,{ 'attr': {'class': 'number_format'}})  }} </td>
				</tr>
			
		
				<td>Precio a puerta de fábrica</td>
				<td id="precio_puerta">{{ form_row(form.precioPuertaFabrica,{ 'attr': {'class': 'number_format'}})  }} </td>
				</tr>
				<tr>
				<td>Flete Interno</td>
				<td id="flete">{{ form_row(form.fleteInterno,{ 'attr': {'class': 'number_format'}})  }} </td>
				</tr>
				<tr>
				<td>Precio FOB/FOC de Exportación</td>
				<td id="precio_total">{{ form_row(form.precioFobExportacion,{ 'attr': {'class': 'number_format'}})  }} </td>
				</tr>
				</tbody>
		</table>
		</div>
		</div>	
</div>


		
		
		
  <div class="row">
  <div class="form-group col-md-4">
          <button type="submit" id="4" class="btn btn-primary">Atrás</button>
        </div>

      
      <div class="form-group col-md-5">
          <button type="submit" id="3" class="btn btn-primary">Agregar más productos</button>
        </div>
      
      
        <div class="form-group col-md-2">
          <button type="submit" id="6" class="btn btn-primary">No agregar mas productos</button>
        </div>
           
           
  
    </div>
    </form>
    </div>    
    
  <script>
$(document).ready(function(){
   $("#costo_idProducto").val($("input#registro_idproducto:hidden").val());
   $("#producto_unidadmedida").val($("input#registro_unidadmedida:hidden").val());
  $("input#producto_registro").val($("input#registro_idproducto:hidden").val());
  $("#producto_nombre").val($("input#registro_nombreproducto:hidden").val());
   $("#producto_unidadmedida").val($("input#registro_unidadmedida:hidden").val());
  $("#producto_nombre").prop('readonly', true);
   $("#producto_unidadmedida").prop('readonly', true);
  
   
   
    $("button").click(function(e){
		var pagina=$(this).attr("id");
		
                e.preventDefault();
		if(pagina==4){
                    
                    $("div.bs-docs-section").empty();
                    $("div.bs-docs-section").load("{{path('cuatro')}}");
                }
                if(pagina==3){
                    var r = confirm("Seguro que desea agregar mas productos? no podrá avanzar si no agrega productos");
                    if (r == true) {//devolver
                        e.preventDefault();
                        $("div.bs-docs-section").empty();
                        $("div.bs-docs-section").load("{{path('cuatro')}}");
                    } else {
                        e.preventDefault();   
                }
                }//fin si
                if(pagina==6){
                var txt;
                var r = confirm("Seguro que no desea agregar mas productos? Luego no podrá volver");
                    if (r == true) {//avanzar
                        e.preventDefault();
                        $.post( "{{path('nuevo_costo')}}",  $("form").serialize() )
                        .done(function( data ) {
                        $("div.bs-docs-section").empty();
                        $("div.bs-docs-section").load("{{path('seis')}}");
                        })
                        .fail(function() {
                        alert( "Error, verifique los datos" );
                        });
                    } else {
                        e.preventDefault();
                        
                }
                }
                

		 });
		 
		 

});	//fin document ready
		 
</script>
